.cellItem {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    text-align: right;
    padding: 16px;
}

.arrow {
    font-weight: 1000;
    font-size: 1.3rem;
    line-height: 1.43;
    display: inline-block;
}

.down {
    display: inline-block;
    transform: rotate(180deg);

}

.positive {
    color: green;
}

.negative {
    color: red;
}